<div class="flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="card">
        <h4>Log In to Aabha</h4>
        <div class="justify-content-center mt-4">
            <div class="p-formgrid grid" style="width: 70vh;">
                <div class="field p-fluid col-12 pb-0">
                    <label>Health Id:</label>
                    <input pInputText  type="text" />
                </div>
                <div class="field p-fluid col-12 flex justify-content-end pt-0" style="cursor: pointer;">
                    <a>forget health id</a>
                </div>
            </div>
            <div class="flex justify-content-end">
                <p-button label="Send Otp"></p-button>
            </div>
        </div>
    </div>
    <div class="card">
        <h4>Log In to Aabha</h4>
        <div class="justify-content-center mt-4">
            <div class="p-formgrid grid" style="width: 70vh;">
                <div class="field p-fluid col-12 pb-0">
                    <label>Otp :</label>
                    <input pInputText  type="text" />
                </div>
                <div class="field p-fluid col-12 flex justify-content-end pt-0" style="cursor: pointer;">
                    <a>resend otp</a>
                </div>
            </div>
            <div class="flex justify-content-end">
                <p-button label="Verify Otp"></p-button>
            </div>
        </div>
    </div>
</div>