<div>
	<div class="flex justify-content-between mb-4">
		<h3>Add Care Context</h3>
		<p-button label="" icon="pi pi-arrow-left" [outlined]="true"/>
	</div>
	<div class=" card">
		<div>
			<div [formGroup]="careContextFetchModesForm" *ngIf="careContextFetchModesFormVisible">
				<div class="p-formgrid grid">
					<div class="field p-fluid col-12">
						<label>Health ID:</label>
						<input pInputText  type="text" formControlName="HealthId"/>
					</div>
				</div> 
				<div class="flex justify-content-end">
					<p-button label="send otp" (click) = "sendOtpFetchMode()"></p-button>
				</div>
			</div>

			<div [formGroup]="careContextVerifyOtpForm" *ngIf="careContextVerifyOtpFormVisible">
				<div class="p-formgrid grid">
					<div class="field p-fluid col-12">
						<label>OTP:</label>
						<input pInputText  type="text" formControlName="Otp"/>
					</div>
				</div> 
				<div class="flex justify-content-end">
					<p-button label="verify Otp" (click) = "verifyCareConetextOtp()"></p-button>
				</div>
			</div>

			<div [formGroup]="careContextForm" *ngIf="careContextFormVisible">
				<div class="p-formgrid grid">
					<div class="field p-fluid col-6">
						<label>Reference Number:</label>
						<input pInputText  type="text" formControlName="ReferenceNumber"/>
					</div>
					<div class="field p-fluid col-6">
						<label>Display:</label>
						<input pInputText  type="text" formControlName="Display"/>
					</div>
				</div> 
				<div formArrayName="CareContexts">
					<div>
						<h6>Care Context</h6>
						<div *ngFor="let careContext of careContextsFormArray.controls; let i = index">
							<div [formGroupName]="i">
								<div class="p-formgrid grid">
									<div class="field p-fluid col-5">
										<label>Reference Number:</label>
										<input pInputText  type="text" formControlName="ReferenceNumber"/>
									</div>
									<div class="field p-fluid col-6">
										<label>Display:</label>
										<input pInputText  type="text" formControlName="Display"/>
									</div>
									<div class="field p-fluid col-1 flex align-items-end">
										<p-button label="" icon="pi pi-times" [outlined]="true" (click)="removeCareContext(i)"></p-button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<p-button label="Add Care Context" [outlined]="true" (click)="addCareContext()"></p-button>
				</div>
				<div class="flex justify-content-end">
					<p-button label="Submit" (click) = "postCareContext()"></p-button>
				</div>
			</div>

		</div>
	</div>
</div>