<p-dialog header="Discharge Summary" [visible]="true"  [modal]="true" [style]="{ width: '50vw' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <ng-template pTemplate="content">
        <div class="flex justify-content-center">
            <div class="flex flex-wrap gap-3 " *ngFor="let category of categoryTypes" class="field-checkbox">
                <div class="flex align-items-center mr-2">
                    <p-radioButton [inputId]="category" value={{category}} [(ngModel)] = "selectedCategory"></p-radioButton>
                    <label [for]="category" class="ml-2">{{category}}</label>
                </div>
            </div>
        </div>
        <div [formGroup]="dischargeSummaryEntryForm" *ngIf="selectedCategory=='Online Entry'">
            <div class="p-formgrid grid">
                <div class="field p-fluid col-6">
                    <label>Date Of Admission With Time :</label>
                    <p-calendar appendTo="body" [showIcon]="true" formControlName="DateOfAdmissionWithTime"></p-calendar>
                </div>
                <div class="field p-fluid col-6">
                    <label>Date Of Discharge With Time :</label>
                    <p-calendar appendTo="body" [showIcon]="true" formControlName="DateOfDischargeWithTime"></p-calendar>
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field p-fluid col-12">
                    <label>Presenting Complaints With Duration :</label>
                    <textarea rows="2" cols="30" pInputTextarea formControlName = "PresentingComplaintsWithDuration"></textarea>
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field p-fluid col-12">
                    <label>Diagnosis :</label>
                    <textarea rows="2" cols="30" pInputTextarea formControlName = "Diagnosis"></textarea>
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field p-fluid col-12">
                    <label>Procedures Performed :</label>
                    <textarea rows="2" cols="30" pInputTextarea formControlName = "ProceduresPerformed"></textarea>
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field p-fluid col-12">
                    <label>Treatment Provided :</label>
                    <textarea rows="2" cols="30" pInputTextarea formControlName = "TreatmentProvided"></textarea>
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field p-fluid col-12">
                    <label>Status At TheTime Of Discharge :</label>
                    <textarea rows="2" cols="30" pInputTextarea formControlName = "StatusAtTheTimeOfDischarge"></textarea>
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field p-fluid col-12">
                    <label>Advice On Discharge :</label>
                    <textarea rows="2" cols="30" pInputTextarea formControlName = "AdviceOnDischarge"></textarea>
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field p-fluid col-12">
                    <label>Follow Up Date :</label>
                    <p-calendar appendTo="body" [showIcon]="true" formControlName="FollowUpDate"></p-calendar>
                </div>
            </div>
        </div>
        <div  [formGroup]="dischargeSummaryScannedForm" *ngIf="selectedCategory=='Upload Scanned Discharge Summary'">
            <div class="p-formgrid grid">
                <div class="field p-fluid col-12">
                    <label>Notes :</label>
                    <textarea rows="2" cols="30" pInputTextarea formControlName = "Notes"></textarea>
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field p-fluid col-12">
                    <label style="display: block;">Uploaded File</label>
                    <input pInputText  type="file" />
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-end pt-2">
            <p-button label="Cancel" class="mr-2" [outlined]="true"></p-button>
            <p-button label="Submit"></p-button>
        </div>
    </ng-template>
</p-dialog>