<div class="card m-8" borderRadius="2em" [style]="{ width: '60vw'}">
    <div class="flex justify-content-between m-6">
        <div [formGroup]="firstForm" class="gap-4">
            <div class="p-formgrid grid">
                <div class="field p-fluid col-4">
                    <label>Mobile Number<span>*</span></label>
                    <input pInputText type="text" formControlName="mobileNumber" />
                    <a href="" class="" (click)="useAadhar()">Use Aadhar</a>
                    <div class="btn">
                        <p-button class="m-2" label="Send OTP" (click)="sendOTP()"
                            [style]="{ width: '30vw'}"></p-button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>